.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	background: #1a1a1a;
}
.texto-solo {
	background: none;
	border: none;
	color: white;
	font: inherit;
	padding: 0;
	cursor: pointer;
	margin-right: 20px;
}
